body{
    margin: 0%;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    line-height: 30px;
}
header{
        background-image: linear-gradient(to right, rgb(83, 83, 83), rgb(0, 0, 0));
        text-align: center;

}
h1, h2{
    font-family: 'Manrope', sans-serif;
}
header h1{
    color: white;
    font-size: 50px;
}

header img{
    border: 15px outset #8C162C;border-radius: 500px;
    width: 300px;
    border: 20px solid rgb(255, 255, 255);
}
main{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px 20px 100px;
}

main img{
    max-width: 100%;
}
h2{
    font-size: 30px;
    color: rgb(38, 43, 48);
}

a{
    color: rgb(0, 0, 0);
}
a:hover{
color: rgb(0, 183, 255);
}


